<h1>Analysis#index</h1>
<p>Find me in app/views/analysis/index.html.erb</p>

    <div id="srclist" style="float:left; height:400px; width:200px; overflow-y:scroll;">
      <table>
        <tbody>
<tr><td>file1.txt</td></tr>
<tr><td>file2.txt</td></tr>
        </tbody>
      </table>
    </div>
    <div style="float:left; border:red solid 1px;">
      <svg></svg>
    </div>
    <div style="float:left; border:teal solid 1px;">
      <button type="button" onclick=start()>start</button>
    </div>

    <script type="text/javascript">
      var w = 500;
      var h = 300;
      var padding = 20;
      var bottomPadding = 50;

      var svg = d3.select("svg")
                  .attr("width", w)
                  .attr("height", h);

      var dataset = [];
      for (var key in lists) {
          for (i=0;i<lists[key].count;i++) {
             dataset.push([Number(i)+1,Number(key)+1]);
          }
      }

      var xScale = d3.scale.linear()
                     .domain([0, d3.max(dataset, function(d) { return d[0]; })])
                     .range([padding, w - padding]);

      var yScale = d3.scale.linear()
                     .domain([0, lists.length])
                     .range([padding, h - bottomPadding]);

      var xAxis = d3.svg.axis()
                    .scale(xScale)
                    .orient("bottom")
                    .ticks(5);

      var rects = svg.selectAll("rect")
                       .data(dataset)
                       .enter()
                       .append("rect");

      svg.append("g")
         .attr("class", "axis")
         .attr("transform", "translate(0," + (h - padding) + ")")
         .call(xAxis);


      function start() {
        
        rects.attr("x", 0)
             .attr("y", function(d, i) { return yScale(d[1]); })
             .attr("width", 5)
             .attr("height", 5)
             // .attr("fill", function(d) { return "rgb(0, 0, " + (d[0] * 10) + ")"; })
             .attr("fill", function(d) { return "rgb(0, 0, 200)"; })
             .transition()
             .duration(2000)
             .attr("x", function(d, i) { return xScale(d[0]); })
             .ease("in");

      }

      var sl = document.getElementById( 'srclist' );
      var sScale = d3.scale.linear()
                     .domain([0, sl.scrollHeight])
                     .range([padding, h - bottomPadding]);

      var ll = svg.append("line")
                  .attr("x1", 0)
                  .attr("y1", 0)
                  .attr("x2", w)
                  .attr("y2", 0)
                  .attr("stroke","red")
                  .attr("stroke-width",0.5);

      sl.onscroll = function()
      {
        var height = this.offsetHeight;
        var scroll = this.scrollTop;
        ll.attr("y1", sScale(scroll+height))
          .attr("y2", sScale(scroll+height))
      }

    </script>

